.container {
    /* position: absolute;  */
    /* margin-top: -140px; */
    padding: 25px 0px;
    /* color: "white"; */
    /* height: 100%; */
    width: 100%;
}

.grid_container {
    padding: 0px 50px;
}

.title {
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .grid_container {
        padding: 0px 20px;
    }
    .title {
        margin-left: 20px;
    }
  }