@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.cont {
  /* min-height: 100vh; */
}

.App {
  /* text-align: center; */
  font-family: 'Inter', sans-serif;
  /* z-index: 5; */
}

.background {
  position: absolute;
  /* height: 250px; */
  width: 100%;
  /* z-index: 3; */
}